:root {
    --darkIndigo: rgb(20, 0, 91);
    --white: aliceblue;
    --purple: blueviolet;
}

* {
    background-color: var(--darkIndigo);
    color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
}

header * {
    background-color: black;
}

h1 {
    font-size: 400%;
    font-variant: small-caps;
    color: var(--purple);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
}

nav a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
}