:root {
    --darkIndigo: rgb(20, 0, 91);
    --white: aliceblue;
    --purple: blueviolet;
    --black: black;
    --pink: magenta;
}

* {
    background-color: var(--darkIndigo);
    color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--black);
    padding: 2rem;
    border-bottom: 0.5rem solid var(--pink);
    margin-bottom: 1rem;
}

header * {
    background-color: var(--black);
}

h1 {
    font-size: 400%;
    font-variant: small-caps;
    color: var(--purple);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
}

nav a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
}

nav a:hover {
    color: var(--pink);
}

h2 {
    font-size: 250%;
    color: var(--pink);
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

section {
    margin-left: 15rem;
    margin-right: 15rem;
    max-width: 85rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 20px;
    font-family: serif;
}

.work img{
    width: 100%;
}

figcaption {
    position: absolute;
    font-size: 300%;
    bottom: 1em;
}