body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-size: 400%;
    font-variant: small-caps;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}